<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new Chat</title>
</head>
<body>
    <h3> Create a new Chat</h3>
    <form method="post" , action="/chats"> 
        <div>
            <input  name="from" , placeholder="Who are you  "> 
            <br>
               <br>
            <textarea name="msg" placeholder="Write your msg here "></textarea>
            <br>
               <br>
            <input name="to" , placeholder="Whom to send">
            <br>
               <br>
            <button > Send</button>
            <br>
            
        </div>
    </form>
</body>
</html>